// Colors

$primary-red: #BE3144;         // Vibrant primary
$secondary-gray: #D3D6DB;      // Soft secondary

// Should not be used
$background-light: #EFF0F2;    // Light background

$neutral-gray: #B7BCC4;        // Neutral mid-gray
$accent-rose: #D25062;         // Highlight or accent
$dark-gray: #6E7278;           // For text or shadows
$dark-black: #0D0D0D;          // Deep black for high contrast
$soft-black: #1A1A1A;          // Neutral soft black

$success-green: #28A745;        // Vibrant green for success.
$success-light-green: #D4EDDA; // Light green for success backgrounds.
$success-dark-green: #1E7E34;  // Dark green for text or strong contrast.

$error-red: #DC3545;           // Bold red for errors.
$error-light-red: #F8D7DA;     // Light red for error backgrounds.
$error-dark-red: #C82333;      // Dark red for text or contrast.

// White shades
$white: #FFFFFF;            // Pure white
$off-white: #F8F9FA;        // Slightly greyish white
$ivory: #FFFFF0;            // Warm white
$light-smoke: #FAFAFA;      // Super-light grey

$btn-disabled-color: #E0E0E0;

// Style
$border-radius: 0.375rem;
$border-radius-big: 2rem;
