<app-mobile-navigation-bar/>

<div class="profile-info">
  <div class="thumbnail">
    <img [src]="loadThumbnail()" alt="Profile thumbnail">
  </div>
  
  <div class="wrapper">
    <div class="info">
      <img class="profile-image" [src]="[loadProfilePhoto()]" alt="User profile photo">

      <h2 class="margin-top-10 margin-bottom-0">{{ user?.FullName }}</h2>
      <p class="small gray">&commat;{{ user?.Username }}</p>

      <div class="w-100 d-flex justify-content-between padding-x-20">
        @if(isMyProfile()){
          <div class="col-xs-10">
            <button class="btn btn-empty w-100" [routerLink]="['/' + Constants.ROUTE_PROFILE + '/' + userId + '/' + Constants.ROUTE_PROFILE_EDIT]">Edit profile</button>
          </div>
          <div class="col-xs-2">
            <button class="btn btn-empty float-end"><span [class]="Icons.COG"></span></button>
          </div>
        }
        @else if(!isFollowed){
          <div class="col-xs-12">
            <button class="btn btn-primary w-100" (click)="follow()">Follow</button>
          </div>
        }
        @else {
          <div class="col-xs-6">
            <button class="btn btn-empty w-100" (click)="unfollow()">Unfollow</button>
          </div>
          <div class="col-xs-6">
            <button class="btn btn-empty w-100" (click)="message()">Message</button>
          </div>
        }
      </div>

      <div class="w-100 d-flex justify-content-between margin-y-10 padding-x-30">
        <div class="col-xs-4 d-flex flex-column align-items-center">
          <span class="font-weight-medium">{{ 5223 | abbreviateNumber }}</span>
          <span class="small gray">posts</span>
        </div>
        <div class="col-xs-4 d-flex flex-column align-items-center">
          <span class="font-weight-medium" [ngClass]="{'gray': (user?.Followers || 0) < 1}">{{ (user?.Followers || 0) | abbreviateNumber }}</span>
          <span class="small gray">followers</span>
        </div>
        <div class="col-xs-4 d-flex flex-column align-items-center">
          <span class="font-weight-medium" [ngClass]="{'gray': (user?.Following || 0) < 1}">{{ (user?.Following || 0) | abbreviateNumber }}</span>
          <span class="small gray">following</span>
        </div>
      </div>
    </div>
  </div>

</div>