<app-mobile-navigation-bar/>

<div class="col-xs-12 action-bar-top">
  <div class="logo">
    <h2>Inbox</h2>
  </div>

  <div class="float-end icon">
    <span [class]="Icons.PEN_TO_SQUARE"></span>
  </div>
</div>

<div class="col-xs-12 padding-x-20 margin-bottom-20">
  <app-search (onSearch)="onSearch($event)"/>
</div>

<div class="col-xs-12 padding-x-20">
  @if(chats.length > 0){
    @for(chat of chats; track $index) {
      <div class="chat" [routerLink]="['/' + Constants.ROUTE_INBOX + '/' + Constants.ROUTE_CHAT, chat.Id]">
        <div class="image">
          <img [src]="[loadChatPhoto(chat)]" alt="Chat photo">
        </div>

        <div class="d-flex flex-column align-items-start" style="width: calc(100% - 45px - 0.5rem)">
          <div class="col-xs-12">
            <span class="float-start">{{ chat.Name }}</span>
            <span class="float-end smaller">{{ chat.LastMessageOn | timeAgo }}</span>
          </div>
          <div class="col-xs-12" [ngClass]="{'font-weight-bold' : isUnreadMessage(chat)}" style="text-overflow: ellipsis; text-wrap: nowrap; overflow: hidden;">
            @if(chat.IsLastMessageMine){
              You:
            }{{ chat.LastMessage }}
          </div>
        </div>
      </div>
    }
  }
  @else {
    You don't have any active chats.
  }
</div>
@for (chat of chats; track $index) {
}