@import '../../../assets/styles/variables';

.navigation {
  height: 3.5rem;
  position: fixed;
  bottom: 0;
  background-color: $off-white;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 1.2rem;
    }
  }

  .plus-btn {
    width: 3.5rem;
    height: 3.5rem;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $off-white;
    border-radius: 50%;
    
    span {
      font-size: 1.35rem;
      font-weight: bolder;
    }
  }
}

.shadow-style {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}