<div class="col-xs-12 action-bar-top justify-content-between">
  <span class="font-lg padding-left-15 float-start" [class]="Icons.ANGLE_LEFT" [routerLink]="[Constants.ROUTE_HOME]"></span>
  <div class="logo">
    <h2>Create Post</h2>
  </div>

  <div class="padding-right-15">
    <button class="btn btn-primary" (click)="submit()">Save</button>
  </div>
</div>

<div class="col-xs-12 padding-x-20">
  <div class="section-heading">Upload Files</div>
  <div class="small gray">*Max 10 files</div>
  <div class="small gray">*Image max size 10MB</div>
  <div class="small gray">*Video max size 100MB and max duration 60 seconds</div>

  <div class="drop-box margin-y-5">
    @for (file of uploadedFiles; track $index) {
      <div class="uploaded-file">
        <div class="image">
          <img [src]="file.Url" alt="Uploaded file">
        </div>

        <div class="file-information">
          <div class="font-sm">{{ file.Name }}</div>
          <div class="smaller gray">{{ file.Size }}@if(file.Duration){ - {{ file.Duration }}}</div>
        </div>

        <div class="remove">
          <span (click)="removeFile(file)">&times;</span>
        </div>
      </div>
    }
  </div>
  <button class="btn btn-primary col-xs-12 padding-y-10" style="border-radius: 0;" (click)="uploader.click()">Add a File</button>
  <input type="file" style="display: none;" #uploader (change)="selectFiles($event)" multiple accept="image/*, video/*">
</div>