/* You can add global styles to this file, and also import other style files */
@import './assets/styles/variables';
@import './assets/styles/utilities';
@import './assets/styles/primeng';
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  font-family: "Funnel Sans", sans-serif;
  background-color: transparent;
}

body {
  background-color: $off-white;
  color: $soft-black;
}

.form-control.is-invalid,
.form-control.is-valid {
  background-image: none;
}

.form-control:focus {
  border-color: transparent;
  box-shadow: $box-shadow;
}

.form-group {
  padding: 0 15px;

  .form-label {
    margin-bottom: 5px;
  }
}

.form-input-icon {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
}

.btn-primary {
  background-color: $primary-red;
  border-color: $primary-red;
  color: $white;  // White text color

  &:hover {
    background-color: darken($primary-red, 10%);
    border-color: darken($primary-red, 10%);
  }

  &:focus, &:active {
    background-color: darken($primary-red, 15%) !important;
    border-color: darken($primary-red, 15%);
    box-shadow: none;
    outline: none;
  }

  &:disabled {
    background-color: $btn-disabled-color;
    border-color: $btn-disabled-color;
    color: #A0A0A0; // Light gray text for disabled state
    cursor: not-allowed;
  }
}

.btn-empty {
  background-color: transparent;
  border-color: $neutral-gray;
  color: $dark-gray;

  &:hover {
    background-color: darken($neutral-gray, 10%);
    border-color: darken($neutral-gray, 10%);
  }

  &:focus, &:active {
    background-color: transparent !important;
    border-color: $neutral-gray;
    box-shadow: none;
    outline: none;
  }

  &:disabled {
    background-color: $btn-disabled-color;
    border-color: $btn-disabled-color;
    color: #A0A0A0; // Light gray text for disabled state
    cursor: not-allowed;
  }
}

.gray {
  color: $neutral-gray;
}
.dark-gray {
  color: $dark-gray;
}
.primary-red {
  color: $primary-red;
}

.action-bar-top {
  position: relative;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: end;

  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;

    svg {
      width: 10rem;
    }
  }

  .icon {
    padding-right: #{calc(20 / 16)}rem;
    span{
      font-size: 1.2rem;
    }
  }
}

.smaller {
  font-size: 0.8rem;
}

.box-shadow {
  box-shadow: $box-shadow;
}

.image,
.chat-image {
  position: relative;

  &.is-online::after {
    content: '';
    position: absolute;
    bottom: 5%;
    right: 0;
    width: 12.5px;
    height: 12.5px;
    background-color: $success-green;
    border-radius: 50%;
    border: 1px solid $white;
  }
}


.double-check {
  position: relative;
  // display: inline-block;
  right: 0.375rem;
  font-size: 1rem; // Adjust size as needed
  color: $primary-red; // Adjust color as needed
  // text-shadow: 2px 2px 0 white, -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white;

  &::before,
  &::after {
    content: "\f00c"; // Unicode for Font Awesome check icon
    font-family: "Font Awesome 6 Free";
    font-weight: 900; // Ensures it's the solid version
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    left: 0.375rem; // Adjust overlap distance
  }
}